<div class="center hero-unit">
  <h1>Welcome to the HTML5 demo</h1>

  <h2>
    This is the home page for the
    <%= link_to "HTML5 demo", root_path %>
    page.
  </h2>

  <%= link_to "Sign up now!", sign_up_path, class: "btn btn-large btn-primary" %>
</div>

